<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>@charset "UTF-8";@import '{{ url_for('static', filename='style.css') }}';</style>
</head>
<body>
    <div style="
            padding: 20px 10px 10px;
            border-radius: 20px;
            background-color: #fff;
            box-sizing: border-box;
            box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
            -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
            -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);
        ">
        <center><h1>{{ title }}</h1></center>
        <div>
            <h2>摘要</h2>
            <p>
                {{ abstract }}
            </p>
        </div>
        <div>
            <h2>基本信息</h2>
            书名：《{{ name }}》 <br>
            英文名: {{ english_name }} <br>
            作者：{{ author }} <br>
        </div>
        <div>
            <h2>评价信息</h2>
            好评：{{ good_rate }}% <br>
            中评: {{ mid_rate }}% <br>
            差评：{{ bad_rate }}% <br>
        </div>
        <div>
            <h2>得分</h2>
            评分：{{ score }} <br>
        </div>
        <div>
            <h2>评论展示</h2>
            {% for comment3 in comments %}
                {% for comment in comment3 %}
                    <p>{{ comment }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</body>
</html>