<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <div>
        <h2>摘要</h2>
        <p>
            {{ abstract }}
        </p>
    </div>
    <div>
        <h2>基本信息</h2>
        书名：《{{ name }}》 <br>
        英文名: {{ english_name }} <br>
        作者：{{ author }} <br>
    </div>
    <div>
        <h2>评价信息</h2>
        好评：{{ good_rate }}% <br>
        中评: {{ mid_rate }}% <br>
        差评：{{ bad_rate }}% <br>
    </div>
    <div>
        <h2>得分</h2>
        评分：{{ score }} <br>
    </div>
</body>
</html>